
.bg-image-1 {
    background-image: url('./../Images/acceuil1.jpg');
    background-size: cover;
    background-position: center;
  }
  .bg-image-2 {
    background-image: url('./../Images/cotidiene1.jpg');
    background-size: cover;
    background-position: center;
  }
  .bg-image-3 {
    background-image: url('../Images/aceuil3.jpg');
    background-size: cover;
    background-position: center;
  }
  .bg-image-4 {
    background-image: url('../Images/cotidiene3.jpg');
    background-size: cover;
    background-position: center;
  }
  